* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Matrix";
  src: 'http://fonts.cdnfonts.com/css/matrix';
}

html,
body {
  height: 100%;
  font-family: "Matrix", sans-serif;
  color: #6e7888;
  
}

body {
  background-image: url("bg.webp");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6e7888;
}

#score{
  background-color: rgba(14, 1, 1, 0.5);
  color: rgb(185, 200, 216);
}

.meio{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}